<div class="container form_padding">
  <br>
  <div class="form-group">
      <p><%= link_to 'Ocultar formulario', clips_path, remote: true, class: 'btn btn-primary' %></p>
      <p class="custom-select">
        <% @topics.each do |t| %>
          <div class="center topic-form rounded">
            <%= t['description'] %>
            <p class="center"><%= link_to 'Añadir', add_topic_post_path(:topic => t['id']), class: 'btn btn-primary' %></p>
          </div>   
        <% end %>
      </p>
  </div>
</div>