<div class="container">
  <div class="center">
    <% flash.each do |type, msg| %>
      <div class="alert alert-warning alert-dismissible d-inline-block" role="alert">
        <%= msg %>
      </div>
    <% end %>
    <% flash.delete(:alert) %>
    <h1>Clips</h1>
  </div>
  <div class="row">
    <%= render @clips %>
  </div>
  <div id="upload" class="center">
    <%= link_to 'Upload', new_clip_path, remote: true, class: 'btn btn-primary' %>
  </div>
  <div id="upload-form">
  </div>
</div>
